
*,*::after,*::before {
  box-sizing: border-box;
}
body{
  background:url('img/bg.jpg') no-repeat center center/cover;
  color: #FFF;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}