.project-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: #5e6a7e;
}

.project-card h3 {
    margin-top: 0;
}

.project-card.type1 {
    flex: 0 0 100%;
}

.project-card.type2 {
    flex: 1;
}

@media (max-width: 768px) {
    .project-card.type2 {
        flex: 0 0 100%;
    }
  }